<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>BOC | Administration Home</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div style="text-align: center;
		border: 5px;">
      <div>
      <div>
        <div>
          <a
            th:href="@{/weather/list}"
            class="btn btn-primary"
            th:text="@{'List Weather Data'}"></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>